<p><%=t :hello%> <%= @resource.email %>!</p>

<p><%=t :reset_instruction%></p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p><%=t :reset_instruction1%></p>
<p><%=t :reset_instruction2%></p>
