<center>
	<section class="slide subtheme-1 selected" id="team" style="height: 640px;">
		<h2 class="team-headline tk-myriad-pro"
		style="padding: 30px 0px 40px 0px;font-weight: 600;color: #566B80;font-size: 62px;text-align: center;"> A well suited team.</h2>
		<div class="team-men">
			<img src="/assets/team-men.png" alt="" width="501" height="324">
		</div>
		<div id="member" class="span6 offset3" >
			<table class ="table table-hover" border="1" bordercolor="#47aaca" cellpadding="5px" width="50%">
				<thead style="column-span: 40px;background-color: #47aaca;">
					<tr>
						<td><b><%=t :member%></b></td>
						<td><b><%=t :student_id%></b></td>
					</tr>
				</thead>
				<tr>
					<td><%=t :NVQ%></td>
					<td>50902143</td>
				</tr>
				<tr>
					<td><%=t :NDT%></td>
					<td>50902316</td>
				</tr>
				<tr>
					<td><%=t :PMT%></td>
					<td>50902476</td>
				</tr>
				<tr>
					<td><%=t :DTTS%></td>
					<td>50902263</td>
				</tr>
				<tr>
					<td><%=t :DNV%></td>
					<td>50903332</td>
				</tr>
			</table>
		</div>
	</section>
</center>
