%tr
  %td= user.nickname
  %td= user.email
  %td= user.register_date
  %td= user.end_date
  %td= user.group
  %td= user.student_id
  %td= user.class_name
  %td= user.home_address
  %td= user.phone_number
  %td= user.books_borrow
