<p id="notice">
	<%= notice %>
</p>
<table class="table table-bordered table-hover">
	<thead class="label-info">
		<!-- <th>ID</th> -->
		<th><%=t :nickname%></th>
		<th><%=t :email%></th>
		<th><%=t :register_date%></th>
		<th><%=t :end_date%></th>
		<th><%=t :group%></th>
		<th><%=t :student_id%></th>
		<th><%=t :class_name%></th>
		<th><%=t :address%></th>
		<th><%=t :phone%></th>
		<th><%=t :books_borrow%></th>
		<th></th>
	</thead>

	<% @users.each do |user| %>
	<tr>
		
		<td><%= user.nickname %></td>
		<td><%= user.email %></td>
		<td><%= user.register_date %></td>
		<td><%= user.end_date %></td>
		<td><%= user.group %></td>
		<td><%= user.student_id %></td>
		<td><%= user.class_name %></td>
		<td><%= user.home_address %></td>
		<td><%= user.phone_number %></td>
		<td><%= user.books_borrow %></td>
		<td><a href="/users/<%=user.id%>"><div class="text-warning"><%=t :edit%></div></a></td>
	</tr>
	<% end %>
</table>