<%@books.each do |book|%>
<!--one type of book-->
<i class="hide topic"><%=book[0].topic%></i>
<div class="books-content" id="lauto-<%=book[0].topic%>-books">
	<div class="row-fluid">
		<div class="pagination">
			<h3 class="pull-left ">
			<div class="btn-group">
				<a class="btn" id="all-auto-<%=book[0].topic%>"href="#"><%=book[0].bookTopic(book[0].topic.to_i)%></a>
			</div></h3>
			<% l = (book.length/9)+1;%>
			<ul id="auto-<%=book[0].topic%>" class="pull-right">
				<li>
					<a href="#" id="sc-prev"><%=t :prev%></a>
				</li>
				<%(1..l).each do |i|%>
				<%if(i==1)%>
				<li class="active">
					<a href="#"><%= i%></a>
				</li>
				<%end%>
				<%if(i!=1)%>
				<li>
					<a href="#"><%= i%></a>
				</li>
				<%end%>
				<%end%>
				<li>
					<a href="#" id="sc-next"><%=t :next%></a>
				</li>
			</ul>
		</div>
	</div>
	<% i = 0;%>
	<% book.each do |b| %>
	<% if i%8==0%>
		<% if i == 0%>
		<div class="row-fluid auto-content" id="auto-<%=b.topic%>-1">
		<% else %>
		<div class="row-fluid auto-content hide" id="auto-<%=b.topic%>-<%=(i/8)+1%>">
		<% end %>	
	<%end%>
		<%if(i%4==0)%>
		<ul class="thumbnails">
		<%end%>
			<li class="span3" >
				<div class="thumbnail">
					<a href="view?topic=<%=b.topic%>&id=<%= b.id%>&locale=<%=I18n.locale%>" ><img src="../assets/<%= b.image_url%>" alt=""></a>
					<div class="caption">
						
						
						<p class="text-success"><i class="icon-eye-open"></i>   Book views : <%=b.seen_by%> views</p>
						<p class="text-success"><i class="icon-th-large"></i>   Public : <%=b.created_at.strftime("%d-%m-%Y")%> </p>
						<h6 class="text-error">
							<%=truncate(b.title,:length=>50)%>
						</h6>
						<p>
							<%= truncate(b.brief_content,:length=>80)%>
						</p>
					</div>
				</div>
			</li>
			<%if(i%4==3)%>
		</ul>
		<%end%>		
	<%if i%8==7||i==(book.length-1) %>
	</div>
	
	<%end%>
	<% i=i+1%>
	<% end %>
</div>
<%end%>
<!--end-->
<!--one type of book-->


<!--end-->