<!--one type of book-->
<div class="books-content" id="sciences-books">
	<div class="row-fluid">
		<div class="pagination">
			<h3 class="pull-left ">
			<div class="btn-group">
				<a class="btn" id="all-sciences"href="#"><%= @sciences[0].bookTopic(1)%></a>
			</div></h3>
			<% l = (@sciences.length/9)+1;%>
			<ul id="science" class="pull-right">
				<li>
					<a href="#" id="sc-prev">Prev</a>
				</li>
				<%(1..l).each do |i|%>
				<%if(i==1)%>
				<li class="active">
					<a href="#"><%= i%></a>
				</li>
				<%end%>
				<%if(i!=1)%>
				<li>
					<a href="#"><%= i%></a>
				</li>
				<%end%>
				<%end%>
				<li>
					<a href="#" id="sc-next">Next</a>
				</li>
			</ul>
		</div>
	</div>
	<% i = 0;%>
	<% @sciences.each do |science| %>
	<% if i%8==0%>
		<% if i == 0%>
		<div class="row-fluid science-content" id="science-1">
		<% else %>
		<div class="row-fluid science-content hide" id="science-<%=(i/8)+1%>">
		<% end %>	
	<%end%>
		<%if(i%4==0)%>
		<ul class="thumbnails">
		<%end%>
			<li class="span3" >
				<div class="thumbnail">
					<a href="view?topic=<%=science.topic%>&id=<%= science.id%>" ><img src="../assets/<%= science.image_url%>" alt=""></a>
					<div class="caption">
						<!--<h3 style="font-size:20px;"> <%= science.title%></h3>-->
						<h6 class="text-error">
							<%=truncate(science.title,:length=>50)%>
						</h6>
						<p>
							<%= truncate(science.brief_content,:length=>80)%>
						</p>
					</div>
				</div>
			</li>
			<%if(i%4==3)%>
		</ul>
		<%end%>		
	<%if i%8==7||i==(@sciences.length-1) %>
	</div>
	<%end%>
	<% i=i+1%>
	<% end %>
</div>
<!--end-->
<!--one type of book-->


<!--end-->