<div class="container-fluid">
	<div class="span10">
		<%= render 'topbar'%>
		<div class="books-content">
		<% i = 0;%>
	<% @books.each do |b| %>
		<%if(i%4==0)%>
		<ul class="thumbnails">
		<%end%>
			<li class="span3" >
				<div class="thumbnail">
					<a href="view?topic=<%=b.topic%>&id=<%= b.id%>&locale=<%=I18n.locale%>" ><img src="../assets/<%= b.image_url%>" alt=""></a>
					<div class="caption">
						
						
						<p class="text-success"><i class="icon-eye-open"></i>   Book views : <%=b.seen_by%> views</p>
						<p class="text-success"><i class="icon-th-large"></i>   Public : <%=b.created_at.strftime("%d-%m-%Y")%> </p>
						
						<h6 class="text-error">
							<%=truncate(b.title,:length=>50)%>
						</h6>
						<p>
							<%= truncate(b.brief_content,:length=>80)%>
						</p>
					</div>
				</div>
			</li>
			<%if(i%4==3)%>
		</ul>
		<%end%>		
	<% i=i+1%>
	<% end %>
	</div>
	</div>
	<div class="span2">
		<%= render 'rightbar'%>
	</div>
</div>
