<p id="notice">
	<%= notice %>
</p>
<table class="table table-bordered table-hover">
	<thead class="label-info">
		<th><%=t :book_id%></th>
		<th><%=t :book_title%></th>
		<th><%=t :book_author%></th>
		<th><%=t :book_publisher%></th>
		<th><%=t :book_content%></th>
		<th><%=t :book_page%></th>
		<th><%=t :book_topic%></th>
		<th><%=t :book_quantity%></th>
		<th><%=t :book_current_quantity%></th>
		<th></th>
	</thead>

	<% @books.each do |book| %>
	<tr>
		<td><%= book.id %></td>
		<td><%= book.title %></td>
		<td><%= book.author %></td>
		<td><%= book.publisher %></td>
		<td><%= book.brief_content %></td>
		<td><%= book.total_page %></td>
		<td><%= book.bookTopic(Integer(book.topic)) %></td>
		<td><%= book.quantity %></td>
		<td><%= book.current_quantity %></td>
		<td><a href="/books/<%= book.id%>/edit">
		<div class="text-warning">
			<%=t :edit%>
		</div></a></td>
	</tr>
	<% end %>
</table>