<div class="span10 offset4">
	<h2>Sign up</h2>
	<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<table>
		<tr>
			<td> <%= f.label :email %>
			<%= f.email_field :email,:class=>"span12" %> </td>
			<td> <%= f.label "Student ID" %>
			<%= f.text_field :student_id , :class=>"span12"%> </td>
		</tr>
		<tr>
			<td> <%= f.label :password %>
			<%= f.password_field :password, :class=>"span12" %> </td>
			<td> <%= f.label :class_name %>
			<%= f.text_field :class_name, :class=>"span12"%> </td>
		</tr>
		<tr>
			<td> <%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation , :class=>"span12"%> </td>
			<td> <%= f.label :home_address %>
			<%= f.text_field :home_address, :class=>"span12"%> </td>
		</tr>
		<tr>
			<td> <%= f.label :nickname %>
			<%= f.text_field :nickname , :class=>"span12"%> </td>
			<td> <%= f.label :phone_number %>
			<%= f.text_field :phone_number, :class=>"span12" %> </td>
		</tr>
		<tr>
			<td> <%= f.submit "Sign up", :class=>"btn" %> </td>
			<td><%= render "devise/shared/links" %></td>
		</tr>
	</table>
	<% end %>
</div>
