-if user_signed_in?
  -if current_user.group ==3
    %table#show_books.display
      %thead
        %tr
          %th= t :book_id
          %th= t :book_title
          %th= t :book_author
          %th= t :book_publisher
          %th= t :book_content
          %th= t :book_page
          %th= t :book_topic
          %th= t :book_quantity
          %th= t :book_current_quantity
          %th= t :edit
      %tbody= render @books
