%tr
  %td= book.id
  %td= book.title
  %td= book.author
  %td= book.publisher
  %td= book.brief_content
  %td= book.total_page
  %td= book.bookTopic(book.topic.to_i)
  %td= book.quantity
  %td= book.current_quantity
  %td= button_to 'Edit', "/books/#{book.id}/edit",:class=>"btn",:method=>:get
