<%= form_for(@book) do |f| %>
<% if @book.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

	<ul>
		<% @book.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<table class="table table-">
	<tr>
		<td>
		<div class="field">
			<%= f.label :title %>
			<%= f.text_field :title ,:class=>"span4 pull-left"%>
		</div>
		<div class="field">
			<%= f.label :author %>
			<%= f.text_field :author ,:class=>"span4"%>
		</div>
		<div class="field">
			<%= f.label :publisher %>
			<%= f.text_field :publisher ,:class=>"span4"%>
		</div></td>
		<td>
		<div class="field">
			<%= f.label :total_page %>
			<%= f.number_field :total_page ,:class=>"span3", :min=>1%>
		</div>
		<div class="field">
			<%= f.label :topic %>
			<%= f.collection_select :topic, BookCategory.find(:all), :id, :name%>
		</div>
		<div class="field">
			<%= f.label :quantity %>
			<%= f.number_field :quantity ,:class=>"span3", :min=>1%>
		</div></td>
		<td>
		<div class="field">
			<%= f.label :brief_content %>
			<%= f.text_area :brief_content,:class=>"span6",:rows=>9 %>
		</div></td>
	</tr>
	<tr>
		<td></td>
		<td>
		<div class="actions">
			<center>
				<%= f.submit :class=>"btn "%>
			</center>
		</div></td>
		<td></td>
	</tr>
</table>

<% end %>
