<link href="http://fonts.googleapis.com/css?family=Berkshire Swash&subset=latin" rel="stylesheet" type="text/css">
<div class="slideshow">
	<% @slides = Book.find(:all,:conditions=>{:topic=>params[:topic]});%>
	<% @book =  Book.find(:all,:conditions=>{:id=>params[:id]});%>
	<div class="slidesContainer">
		<div>
			<% i=0;%>
			<%@slides.each do |slide|%>
			<%if(i%6==0)%>
			<div class="slide" >
				<%end%>
				<li class="span2">
					<a href="view?topic=<%= slide.topic%>&id=<%= slide.id%>&locale=<%=I18n.locale%>" class="thumbnail" style="margin-bottom:5px;"> <img src="../assets/<%= slide.image_url%>" alt=""></img> </a>
				</li>
				<%if(i%6==5)%>
			</div>
			<%end%>
			<% i=i+1%>
			<%end%>
		</div>
	</div>
</div>
</div>
<div class="books-one-details">
	<div class="row-fluid" style="font-family:Berkshire Swash;">
		<li class="span3">
			<a class="thumbnail"> <img src="../assets/<%= @book[0].image_url%>" alt=""></img> </a>
		</li>
		<li class="span6" >
			<span style="font-size:20px" class="label label-success"><%= @book[0].title%></span>
			<hr>
			<table class="table table-bordered" >
				<tr>
					<td><span class="label "><%=t :book_id%></span></td>
					<td><span class="label label-important" style="cursor:pointer"><%= @book[0].id%></span></td>
				</tr>
				<tr>
					<td><span class="label "><%=t :book_author%></span></td>
					<td><span class="label label-info"style="cursor:pointer"><%= @book[0].author%></span></td>
				</tr>
				<tr>
					<td><span class="label "><%=t :book_publisher%></span></td>
					<td><span class="label label-info" style="cursor:pointer"><%= @book[0].publisher%></span></td>
				</tr>
				<tr>
					<td><span class="label "><%=t :book_category%></span></td>
					<td><span class="label label-info" style="cursor:pointer"><%= @book[0].id%></span></td>
				</tr>
				<tr>
					<td><span class="label "><%=t :book_rating%></span></td>
					<td><span class="label label-info" style="cursor:pointer">5.0(static)</span></td>
				</tr>
			</table>
		</li>
		<li class="span3">
			<br/>
			<hr>
			<table class="table table-bordered">
				<tr>
					<td><span class="label label-inverse"><%=t :book_quantity%></span></td>
					<td><span class="badge badge-warning" style="cursor:pointer"><%= @book[0].quantity%></span></td>
				</tr>
				<tr>
					<td><span class="label label-inverse"><%=t :book_require%></span></td>
					<td><span class="badge badge-warning" style="cursor:pointer"><%= @book[0].quantity-@book[0].current_quantity%></span></td>
				</tr>
				<tr>
					<div class="hide">
						<span class="label label-inverse"><%=t :book_nosatisfied%></span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">7(static)</span></br>
						<span class="label label-inverse"><%=t :book_position%></span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">8(static)</span></br>
						<span class="label label-inverse"><%=t :book_notation%></span><span class="badge badge-warning" style="margin-left:10px;cursor:pointer">9(static)</span></br>
					</div>

				</tr>
				</br>
			</table>
			<br/>
			<% if (user_signed_in?)%>
			<% if !current_user.is_borrowed(@book[0].id )%>
			<a href="/transactions/new?id=<%= @book[0].id%>">
			<button class="btn btn-mini" type="button">
				<span class="icon-refresh"> </span> <%=t :book_order%>
			</button> </a>
			<% else %>
			<a href="/transactions/destroy?bookid=<%= @book[0].id%>">
			<button class="btn btn-mini" type="button">
				<span class="icon-refresh"> </span> <%=t :book_cancel_oder%>
			</button> </a>
			<% end %>
			<button class="btn btn-mini" type="button">
				<span class="icon-eye-open"> </span> <%=t :book_check_later%>
			</button>
			<% end %>
		</li>
	</div>
</div>
<div class="books-one-details">
	<div class="row-fluid">
		<div class="span6">
			<strong><%=t :book_summary%></strong>
			<hr>
			<%= @book[0].brief_content%>
		</div>
		<div class="span6">
			<strong><%=t :book_comment%></strong>
			<hr>
			<div >
				<img src="http://placehold.it/50x50" class="pull-left img-rounded"></img>
				<div class="alert alert-success " style="margin-left:67px;">
					<strong style="color:#F89406;">user1 </strong><span style="color:#999999">says:</span/>
						<br>
						comment 1
						<br>
				</div>
			</div>
			<div >
				<img src="http://placehold.it/50x50" class="pull-right img-rounded"></img>
				<div class="alert alert-success " style="margin-right:67px;">
					<strong style="color:#F89406;">user2 </strong><span style="color:#999999">says:</span/>
						<br>
						comment 2
						<br>
				</div>
			</div>
			<div>
				<textarea class="span12" ></textarea>
				<button class="btn">
					<%=t :book_send%>
				</button>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function() {
		var slides = $('.slide');
		var slideWidth = 950;
		var numberOfSlides = slides.length;
		var currentPosition = Math.round(Math.random(0) * (numberOfSlides - 1));
		slides.wrapAll('<div id="slideInner"></div>');
		$('#slideInner').css('width', slideWidth * numberOfSlides);
		$('.slideshow').prepend('<span class="control" id="leftControl"></span>').append('<span class="control" id="rightControl"></span>')
		manageControls(currentPosition);
		$('#slideInner').css('margin-left', slideWidth * (-currentPosition));
		$('.control').bind('click', function() {
			currentPosition = ($(this).attr('id') == 'rightControl') ? currentPosition + 1 : currentPosition - 1;

			manageControls(currentPosition);
			$('#slideInner').animate({
				'margin-left' : slideWidth * (-currentPosition)
			})
		});

		function manageControls(position) {
			// Hide left arrow if position is first slide
			if (position == 0) {
				$('#leftControl').hide()
			} else {
				$('#leftControl').show()
			}
			// Hide right arrow if position is last slide
			if (position == numberOfSlides - 1) {
				$('#rightControl').hide()
			} else {
				$('#rightControl').show()
			}
		}

	}); 
</script>