<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @book.title %>
</p>

<p>
  <b>Author:</b>
  <%= @book.author %>
</p>

<p>
  <b>Publisher:</b>
  <%= @book.publisher %>
</p>

<p>
  <b>Total page:</b>
  <%= @book.total_page %>
</p>

<p>
  <b>Topic:</b>
  <%= @book.topic %>
</p>

<p>
  <b>Brief content:</b>
  <%= @book.brief_content %>
</p>

<p>
  <b>Type:</b>
  <%= @book.type %>
</p>

<p>
  <b>Date of storing:</b>
  <%= @book.date_of_storing %>
</p>


<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
