<table class="table table-hover table-bordered ">
    <thead class="label-success">
      <th>Book</th>
      <th>Day borrow</th>
      <th>Day return</th>
      <th>Status</th>
    </thead>

    <% @transactions.each do |transaction| %>
    <tr>
      <td><a href="/books/view?topic=<%= transaction.getBook.topic%>&id=<%= transaction.book_id%>">
      <div class="text-info">
        <%= transaction.getBook.title%>
      </div></a></td>
      <td><%= transaction.day_borrow %></td>
      <td><%= transaction.day_return %></td>
      <td><%= transaction.getStatus %></td>
    </tr>
    <% end %>
  </table>