<h1>Listing transactions</h1>

<table>
  <tr>
    <th><%=t :book%></th>
    <th><%= t :user%></th>
    <th><%= t :day_borrow%></th>
    <th><%= t :day_return%></th>
    <th><%= t :date%></th>
    <th><%= t :status%></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.book_id %></td>
    <td><%= transaction.user_id %></td>
    <td><%= transaction.day_borrow %></td>
    <td><%= transaction.day_return %></td>
    <td><%= transaction.date %></td>
    <td><%= transaction.status %></td>
    <td><%= link_to (t :show), transaction %></td>
    <td><%= link_to (t :edit), edit_transaction_path(transaction) %></td>
    <td><%= link_to (t :destroy), transaction, confirm: (t :are_u_sure), method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to (t :new_transaction), new_transaction_path %>
