<!DOCTYPE html>
<html>
	<head>
		<title>CrazyLib</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="span10 offset4" style="margin-top: 50px">
			<h2 class="text-error">
				<p>
				 <%= notice %></p>
				<p> <%= alert %></p>
			</h2>
		</div>
		<% flash.each do |name, msg| %>

		<!--  # New code (allow for flash elements to be arrays) -->
		<% if msg.class == Array%>
		<% msg.each do |message| %>
		<%= content_tag :div, message, :id => "flash_#{name}" %>
		<% end %>
		<% else %>

		<!--     # old code -->
		<%= content_tag :div, msg, :id => "flash_#{name}" %>

		<% end %>
		<!--   		#don't forget the extra end -->
		<% end %>
		<!--begin navi-->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">

					<button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">Crazy Lib</a>
					<div class="controls controls-row">
						<div class="nav-collapse collapse" style="height: 0px; ">
							<ul class="nav">
								<li class="">
									<a href="/" style="color: #FFFFFF"><%=t :home%></a>
								</li>
								<li class="">
									<a href="/books?<%=:locale%>"><%=t :book%></a>
								</li>
								<li class="">
									<a href="/books/search"><%=t :search%></a>
								</li>
								<li class="">
									<a href="/faq"><%=t :faq%></a>
								</li>
								<li class="">
									<a href="/rule"><%=t :rule%></a>
								</li>
								<li >
									<a href="/contact"><%=t :contact%></a>
								</li>
								<li >
									<a href="/about"><%=t :about%></a>
								</li>
							</ul>
						</div>
					<div class="nav pull-right">
						<% if (!user_signed_in?)%>
						<li class="">
							<%= link_to (t :login), new_user_session_path %>
						</li>

						<li class="">
							<%= link_to (t :register), new_user_registration_path %>
						</li>
						<%else%>
						<li class="">
							<%= link_to (t :logout), destroy_user_session_path, :method => :delete %>
						</li>
						<%end%>
						<li>
							<a href="javascript:onChangeLocale('vi')"><img style="width: 30px; height: 20px" src="/assets/flag_vn.gif" alt="Vietnamese" /></a>
						</li>
						<li>
							<a href="javascript:onChangeLocale('en')"><img style="width: 30px; height: 20px" src="/assets/flag_en.gif" alt="English" /></a>
						</li>
					</div>
				</div>
			</div>
		</div>
		<!---End navi-->
		<!-- background -->
		<link href="http://fonts.googleapis.com/css?family=Baumans&subset=latin" rel="stylesheet" type="text/css">
		<style type="text/css">
			body {
				font-family: Baumans, sanserif;
				background: #f8f5ee url("../assets/bg.jpg") repeat-x;
				background-position: 1px 0px;
			}
		</style>
		<div style="height:50px;"></div>

		<!-- end background -->
		<!-- container -->
		<div class="container-fluid">
			<!--Content-->
			<div class="row-fluid">
				<%= yield %>
			</div>
			<!-- end content-->
		</div>
		<!-- End Container -->
		<!--footer-->
		<center>
			<div class="text-info">
				<br/>
				Copyright CrazyLib@CrazyTeam.
			</div>
		</center>
	</body>
</html>
