<!DOCTYPE html>
<html>
	<head>
		<title>CrazyLib</title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<p class="notice">
			<%= notice %>
		</p>
		<p class="alert">
			<%= alert %>
		</p>

		<% flash.each do |name, msg| %>

		<!--  # New code (allow for flash elements to be arrays) -->
		<% if msg.class == Array %>
		<% msg.each do |message| %>
		<%= content_tag :div, message, :id => "flash_#{name}" %>
		<% end %>
		<% else %>

		<!--     # old code -->
		<%= content_tag :div, msg, :id => "flash_#{name}" %>

		<% end %>
		<!--   		#don't forget the extra end -->
		<% end %>
		<!--begin navi-->
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="/">Crazy Lib</a>
					<div class="nav-collapse collapse" style="height: 0px; ">
						<ul class="nav">
							<li class="">
								<a href="/">Home</a>
							</li>
							<li class="">
								<a href="/books/">Books</a>
							</li>
							<li class="">
								<a href="/books/search">Search</a>
							</li>
							<li class="">
								<a href="/faq">FAQ</a>
							</li>
							<li class="">
								<a href="/rule">Rule</a>
							</li>
							<li >
								<a href="/contact">Contact</a>
							</li>
							<li >
								<a href="/about">Abouts</a>
							</li>
						</ul>
					</div>
					<div class="nav pull-right">
						<% if (!user_signed_in?)%>
						<li class="">
							<%= link_to "Log in", new_user_session_path %>
						</li>

						<li class="">
							<%= link_to "Register", new_user_registration_path %>
						</li>
						<%else%>
						<li class="">
							<%= link_to "Log out", destroy_user_session_path, :method => :delete %>
						</li>
						<%end%>
						<li>
							<a href="/linkTiengViet"><img style="width: 30px; height: 20px" src="/assets/flag_vn.gif" alt="Vietnamese" /></a>
						</li>
						<li>
							<a href="/linkTiengAnh"><img style="width: 30px; height: 20px" src="/assets/flag_en.gif" alt="English" /></a>
						</li>
					</div>
				</div>
			</div>
		</div>
		<!---End navi-->
		<!-- container -->
		<!--Content-->
		<div class="container-fluid">
			<div class="row-fluid">
				<%= yield %>
			</div>
		</div>
		<!-- End Container -->
		<!--footer-->
		<div class="navbar-inner">
			<div class ="container">
				<div class="text-info">
					Copyright CrazyLib@CrazyTeam.
				</div>
			</div>
		</div>
	</body>
</html>
