-if user_signed_in?
  -if current_user.group ==3
    %table#show_users.display
      %thead
        %tr
          %th= t :nickname
          %th= t :email
          %th= t :register_date
          %th= t :end_date
          %th= t :group
          %th= t :student_id
          %th= t :class_name
          %th= t :address
          %th= t :phone_number
          %th= t :books_borrow
          %th 
          %th
      %tbody= render @users
