-if user_signed_in?
  -if current_user.group ==3
    %table#show_transactions.display
      %thead
        %tr
          %th= t :book
          %th= t :user
          %th= t :day_borrow
          %th= t :day_return
          %th= t :status
          %th= t :action
      %tbody= render @transactions
